<h2><%= @recipe.name %></h2>

<p>Add instructions</p>
<form action="/" method="post">
  <label for="name">Name of recipe</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add recipe</button>
</form>
